<h1>Welcome to One Motnh Rails</h1>

<p>You've found the home page gor the <a href="http://onemonthrails.com">One Month Rails</a>
</p>
<p>
<a href="#">Sign Up now !</a>
</p>

<p>
<%= link_to "Sign up Now", "#"%>
</p>

